<h2> Добавим новое объявление</h2>

<%= form_for :board, url: board_path do |f| %>

<% if @board.errors.any? %>

<% @board.errors.full_messages.each do |msg| %>
	<div class="alert alert-danger">
		<%= msg %>
	</div>
<% end %>

  Название: <%= f.text_field(:title, {:class => 'form-control'}) %> 

  Текст статьи : <%= f.text_field(:body, {:class => 'form-control'}) %> <br/>



  <%= f.submit({:class => 'btn btn-success'}) %>
<% end %>