<p id="notice"><%= notice %></p>

<h1 class="text-center mb-5 mt-3  text-uppercase"> Доска объявлений</h1>

<div class="row">
<% @boards.each do |board| %>

<div class="col-md-6">
	<div class="card mb-3">

		<div class="card-header p-0">
			<% if board.picture.url != nil %>

			<%= image_tag board.picture.url, :class => 'img-fluid' %>

			<% end %>
		</div>
    	<div class="card-body">
    	
    
		    <h3><%= board.title %></h3>

		    <p><%= truncate(board.body, length: 160, separator: ' ' )  %></p>

		   

  		</div>

		<div class="card-footer">
			 <%= link_to "Смотреть целиком", board, :class => 'btn btn-info btn-sm' %>

		    <%= link_to "Редактировать", edit_board_path(board), :class => 'btn btn-warning btn-sm' %>

		    <%= link_to "Удалить", board, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-dark btn-sm' %>

				<div class="section mr-auto">

					<%= raw board.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-primary' }.join(' ') %>

				</div>
		    <a href="#" class="badge badge-primary">Primary</a>
		</div>

		

	</div>
  
</div>
<% end %>

</div>

<%= link_to 'Создать новое объявление', new_board_path, :class => 'mb-5 btn btn-lg btn-primary mt-5' %>


</div>




<footer class="footer  bg-dark footer-dark mt-auto py-3 mt-5">
  <div class="container">
    <span class="text-muted">Как тебе такое, Илон? &#169; <span class="text-light"> 2019 </span> </span>
  </div>
</footer>


